{% load staticfiles %}
<html>
<head>
  <title>{{ camera.name }}</title>
  <link href="{% static "jquery-ui-1.10.3.custom.css" %}" rel="stylesheet">
  <link href="{% static "cameras.css" %}" rel="stylesheet">
  <script type="text/javascript" src="{% static "jquery-1.9.1.js" %}"></script>
  <script type="text/javascript" src="{% static "jquery-ui-1.10.3.custom.js" %}"></script>
  <script type="text/javascript" src="{% static "jquery.gracefulWebSocket.js" %}"></script>
  <script type="text/javascript" src="http://l2.io/ip.js?var=myip"></script>
  <script type="text/javascript">
  $(document).ready( function() {
      window.chat = {};
      network=myip.split(".");
      $("#nname").val(myip);
      if (network[0] == "129" && network[1] == "12" &&
          (network[2] == "128" || network[2] == "129" || network[2] == "130" || network[2] == "131")) {
        chat.ws = $.gracefulWebSocket("ws://{{ camera.socket_ip1 }}:{{ camera.socket_port1 }}/ws");
        $("#img").attr('src','http://{{ camera.cam_ip1 }}:{{ camera.cam_port1 }}');
      } else {
        chat.ws = $.gracefulWebSocket("ws://{{ camera.socket_ip2 }}:{{ camera.socket_port2 }}/ws");
        $("#img").attr('src','http://{{ camera.cam_ip2 }}:{{ camera.cam_port2 }}');
      }
      chat.send = function (message) {
        chat.ws.send(message);
      }

      chat.ws.onmessage = function (event) {
        var messageFromServer = event.data;
        proto = messageFromServer.split(" ")
        if (proto[0] == "COO") {
          var dc = proto[1].split("=");
          if (dc[0] == "x") {
            var xreceive = parseInt(dc[1]);
            var current = $( "#hslider" ).slider( "value" );
            if (xreceive != current) {
              $( "#hslider" ).slider( "option", "value", xreceive );
            }
          } else if (dc[0] == "y") {
            var yreceive = parseInt(dc[1]);
            var current = $( "#vslider" ).slider( "value" );
            if (yreceive != current) {
              $( "#vslider" ).slider( "option", "value", parseInt(dc[1]) );
            }
          }
        } else {
          var list_element = document.createElement('li');
          list_element.innerHTML = messageFromServer;
          $("#message_list ul").prepend(list_element);
        }
      };

        var inputBox = document.getElementById("inputbox");

        inputbox.addEventListener("keydown", function(e) {
          if (!e) { var e = window.event; }

          if (e.keyCode == 13) {
            e.preventDefault(); // sometimes useful
            name = $("#nname").val();
            chat.send(name + ": " + inputbox.value);
            inputbox.value="";
          }
        }, false);

          $( "#vslider" ).slider({ orientation: "vertical", min: 80, max: 220, step: 1 });
          $( "#hslider" ).slider({ min: 50, max: 250, step: 1 });
          $( "#vslider" ).on( "slidechange", function( event, ui ) {
          var values = $( "#vslider" ).slider( "value" );
          chat.send("COO y=" + values);
        } );
          $( "#hslider" ).on( "slidechange", function( event, ui ) {
          var values = $( "#hslider" ).slider( "value" );
          chat.send("COO x=" + values);
        } );
          jQuery.fn.center = function ()
          {
          this.css("top", ($(window).height() / 2) - (this.outerHeight() / 2));
          this.css("left", ($(window).width() / 2) - (this.outerWidth() / 2));
          return this;
        }

        $("#cam").css("margin-left", ($(window).width() - 1080) / 2);
        $("#hslider").css("margin-left", ($(window).width() - 1080) / 2);
      });

 </script>
</head>
<body>
  <div class="fullscreenDiv">
    <div id="title"><h1>{{ camera.name }}</h1></div>
    <div id="cam">
      <img id="img" class="decoded" width=640 height=480 src="#" alt="Ooops"></img>
    </div>
    <div id="vslider"></div>
    <div id="helem">
      <div id="hslider"></div>
    </div>
    <div id="chat">
      <div id="message_list">
        <ul>
        </ul>
      </div>
      <textarea name="term" id="inputbox" onblur="if (this.value == '') {this.value = 'Type here';}" onfocus="if (this.value == 'Type here') {this.value = '';}">Type here</textarea></br>
    Nickname: <input id="nname" type="text" name="nname">
    </div>
  </div>
</body>
</html>
